.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

/* override materialize settings */
.input-field.inline input {
  height: 1rem;
  width: inherit;
  line-height: inherit;
}
.input-field {
  margin-top: 0;
}
.tight-lower {
  margin-bottom: 0.5rem;
}
input[type=number]:not(.browser-default) {
  width: 5rem;
  margin-bottom: 0;
  direction: rtl;
  text-align: right;
}
input[type=text]:not(.browser-default) {
  width: 15rem;
}
.label {
  color: #9e9e9e;
}
input[type=text]:not(.browser-default).file-path {
  width: 80%;
  color: black;
  
}
.file-field .btn {
  width: 20%;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 1px;
}
.card .card-content {
  padding: 16px;
}
/* multiple selection menu settings */
.select-wrapper {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}
.select-wrapper span.caret {
  height: inherit;
}
.dropdown-content li>span {
  line-height: initial;
  padding-top: 0;
}
.dropdown-content li {
  min-height: 1px;
}
.select-wrapper [type=checkbox]:not(:checked),
.select-wrapper [type=checkbox]:checked {
  vertical-align: middle;
}
.select-wrapper [type=checkbox]+label {
  display: inline;
}
.select-wrapper [type=checkbox]::before,
.select-wrapper [type=checkbox]::after {
  margin-top: 0;
  vertical-align: top;
}
.input-field.inline .select-dropdown {
  margin-bottom: 0px;
}
/*
.input-field>select.browser-default {
  display: inline-block;
  position: relative;
  height: inherit;
  opacity: 1;
}
*/
select {
  height: 2rem;
}
span.label {
  text-align: right;
  width: 15%;
}
.right {
  position: absolute;
  right: 0;
  top: 0;
}
